.bs-example {
    padding-top: 1em;
    background-color: #0086c1;
}

.headerText{
    font-size: 1.2em;
    color: white !important;
    background-color: #69afac;
    font-weight: bold;
    margin-left: 0.5em;
    border-radius: 10px;
}

.headerText:hover {
    background-color: #7bb7c9;
  }

.navbar-toggler{background-color: white !important;}

.userAvatar{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-menu, .dropdown-menu a{ color: #0086c1 !important;}
.dropdown-item .drop-item{font-size: 1em !important;}
.dropdown-divider{
    height: 0!important;
    color: #ef8700!important;
}
.dropdown-item.active, .dropdown-item:active{
    background-color:#ef8700!important;
}
.dropdown-menu a:active{
    color: #fff!important;
}

/*Customização do botão navibar mobile*/
.custom-toggler.navbar-toggler { border-color: #0086c1 !important;}
.fa-bars{color: #ef8700;}
/**/

.logoDragAnimals {
    width: 5em;
    height: auto;
    margin-right: 2em
}

@media (min-width: 1200px){
    .col-2{max-width: 100% !important; width: 2.9em !important; height: 2.9em;}
    .col-xl-1{max-width: 100% !important; width: 2.9em !important; height: 2.9em;}
    .col-lg-1{max-width: 100% !important; width: 2.9em !important; height: 2.9em;}
}
@media (min-width: 768px){
    .col-md-1{max-width: 100% !important; width: 2em !important; height: 3em;}
}
.col-sm-2 {max-width: 100% !important; width: 2.9em !important; height: 2.9em;}
.col-xs-1{max-width: 100% !important; width: 2.9em !important; height: 2.9em;}