.section{margin-top: 2em;}

.botaoComeçar{
    margin-bottom: 1em;
    width: 7em; height: auto;
    font-size: 1.5em;
    color:white;
    border-radius: 50px;
    background-color: #72cf6a;
}

.botaoReiniciar{
  margin-bottom: 1em;
  width: 7em; height: auto;
  font-size: 1.5em;
  color:white;
  border-radius: 50px;
  background-color: #ef76fa;
}


.timer{
  font-size: 2.5em;
  font-weight: bold;
}

.area{
    margin-bottom: 1em;
    padding: 1em;
}

.quadro {
    width: 10.5em;
    height: 14em;
    padding: 10px;
    border: 3px solid #aaaaaa;
    border-radius: 10%;
  }

.botaoAudio{
  background-color: #ffa600;
  color: white;
  font-weight: bold;
}

  img{
    width: 9em;
    height: 9em;
    object-fit: cover;
  }

  .mensagem{
    font-size: 1em;
    color: #ffc14f;
  }