.btn-selection{
  background-color: rgb(103, 168, 248);
  font-size: 1.5em!important;
  color: rgb(255, 255, 255);
  padding: 10px 25px 10px 25px!important;
  border-radius: 40px!important;
}

.btn-selection:hover{
  background-color: rgb(27, 127, 250);
  color: rgb(255, 255, 255);
}