.background{
  background-color: #e3eaf5;
  /*background-image: url(https://draganimals.s3.sa-east-1.amazonaws.com/background.png); */
  background-size: 200%;
}

.quadro-jogar{
  margin: 4em;
  transition: transform .2s; /* Animation */
}

.quadro-jogar:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.quadro-imagem{
  width: 12em;
  height: auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration: none !important;
}
.botao{
  width: 12em;
  height: 2.5em;
  border-radius: 10px;
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  line-height: 2.5;
  color: white;
  background-color: #0086c1;
  position: relative;
  top: -1em;
}

.button-size{
  font-size: 1.5em!important;
  padding: 10px 25px 10px 25px!important;
  border-radius: 15px!important;
}

.form-control{
  outline: none!important;
}

.form-select:focus, .form-control:focus{
  outline: none;
  box-shadow: 1px 0px 6px #79e5f3!important;
  border-color: #79e5f3!important;
  border: 1px solid #79e5f3!important;
}

.links{
  text-decoration: none;
  color: #0086c1;
}

.links:hover{
  color: #0086c1;
}

.mrg-l{
  margin-left: 8px;
}

.page-link{
  color: #0086c1!important;
}

.page-item.active .page-link{
  background-color: #0086c1!important;
  border-color: #0086c1!important;
  color: #fff!important;
}

.flex{
  display: flex!important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #eef8ff;
}